<template>
  <ul class="instances-list">
    <InstanceItem
      v-for="instance of clubsGetter"
      :key="instance.id"
      :instance="instance"
    />
  </ul>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import InstanceItem from '@/components/InstanceItem.vue';
import { Club } from '@/abstracts/types/interfaces';

const ClubsStore = namespace('clubs');

@Component({
  components: { InstanceItem },
})

export default class ClubsView extends Vue {
  public name = 'ClubsView';

  @ClubsStore.Getter('getClubs') clubsGetter!: Club[] | [];

  @ClubsStore.Action('getClubs') getClubsAction;

  async mounted(): Promise<void> {
    await this.getClubsAction();
  }
}
</script>

<style scoped lang="scss">
.instances-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
}
</style>
