<template>
  <div :data-id="id" class="club">
    <img
      class="club__img"
      src="@/assets/img/default-league.png"
      alt="Club default logo"
    >
    <div class="club__info">
      <div class="club__text">
        club-id - {{ id }}
      </div>
      <div class="club__text">
        club-name - {{ clubName }}
      </div>
      <div class="club__text">
        club-country - {{ clubCountry }}
      </div>
      <a @click.prevent="deleteClubHandler"
         class="club__delete-btn btn"
         :href="`/${clubsPathName}`+ id"
      >
        Delete
      </a>
    </div>
    <UpdateInstanceForm
      :instance="club"
      :instancePathName="clubsPathName"
      :key="'UpdateInstanceForm' + this.club && this.club.id"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { Club } from '@/abstracts/types/interfaces';
import UpdateInstanceForm from '@/components/UpdateInstanceForm.vue';
import routesMap from '@/router/Routes';

const ClubsView = namespace('clubs');

@Component({
  components: { UpdateInstanceForm },
})

export default class ClubView extends Vue {
  public name = 'ClubView';

  public clubsPathName: string = routesMap.clubsPathName;

  public clubName = '';

  public clubCountry = '';

  @Prop() id!: number | null;

  @ClubsView.Getter('getOpenedClub') openedClubGetter!: Club;

  @ClubsView.Action('initClubById') initClubByIdAction;

  @ClubsView.Action('deleteClub') deleteClubAction;

  public async deleteClubHandler(): Promise<void> {
    await this.deleteClubAction(this.openedClubGetter.id);

    await this.$router.push(this.clubsPathName);
  }

  async mounted(): Promise<void> {
    await this.initClubByIdAction(this.id);

    this.clubName = this.club.name;
    this.clubCountry = this.club.country;
  }

  get club(): Club {
    return this.openedClubGetter;
  }
}
</script>

<style scoped lang="scss">
.club {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  &__img {
    width: 20rem;
  }
}
</style>
