<template>
  <AddInstanceForm
    :instancePathName="clubsPathName"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AddInstanceForm from '@/components/AddInstanceForm.vue';
import routesMap from '@/router/Routes';

@Component({
  components: { AddInstanceForm },
})

export default class HomeView extends Vue {
  public name = 'HomeView';

  public clubsPathName: string = routesMap.clubsPathName;
}
</script>
