<template>
  <ClubForm
    class="form-wr"
    @submitFormHandler="addInstanceHandler"
    :instance="newInstance"
    :btnValue="'Add'"
  />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import ClubForm from '@/components/common/ClubForm.vue';
import { Club } from '@/abstracts/types/interfaces';

const ClubsStore = namespace('clubs');

@Component({
  components: { ClubForm },
})

export default class AddInstanceForm extends Vue {
  public newInstance: Club = {
    name: '',
    country: '',
  };

  @Prop() instancePathName!: string;

  @ClubsStore.Getter('getClubs') clubsGetter!: Club[] | [];

  @ClubsStore.Action('addClub') addClubAction;

  async addInstanceHandler(newInstance: Club): Promise<void> {
    await this.addClubAction(newInstance);
    await this.$router.push(this.instancePathName);
  }
}
</script>
