<template>
  <router-link
    :data-id="instance.id"
    class="instance-item"
    :to="{name: 'ClubView', params: { id : instance.id } }"
  >
    <img
      class="instance-item__image"
      src="@/assets/img/mu.png"
      alt="instance logo"
    >
    <span class="instance-item__text">{{instance.name}}</span>
  </router-link>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Club } from '@/abstracts/types/interfaces';

@Component

export default class InstanceItem extends Vue {
  @Prop() instance!: Club;
}
</script>

<style scoped lang="scss">
.instance-item {
  @include flex-column;
  margin-top: 3rem;
  flex-grow: 1;

  &__image {
    width: 15rem;
    transition: transform .2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__text {
    margin-top: 1rem;
  }
}
</style>
