<template>
    <router-link class="logo" to="/">
      <img
        class="logo__img"
           src="@/assets/img/logo.jpg"
           alt="logo"
      >
    </router-link>
</template>

<style scoped lang="scss">
.logo {
  padding: .5rem 2rem;

  &__img {
    width: 70%;
  }
}
</style>
