<template>
  <ClubForm
    class="form-wr"
    @submitFormHandler="updateInstanceHandler"
    :instance="instance"
    :btnValue="'Update'"
  />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import ClubForm from '@/components/common/ClubForm.vue';
import { Club } from '@/abstracts/types/interfaces';

const ClubsStore = namespace('clubs');

@Component({
  components: { ClubForm },
})

export default class UpdateInstanceForm extends Vue {
  @Prop() instancePathName!: string;

  @Prop() instance!: Club;

  @ClubsStore.Action('updateClub') updateClubAction;

  async updateInstanceHandler(newInstance: Club): Promise<void> {
    await this.updateClubAction(newInstance);
    await this.$router.push(this.instancePathName);
  }
}
</script>
