<template>
  <button type="submit" class="btn">
    {{btnValue}}
  </button>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator';

@Component

export default class Button extends Vue {
  @Prop() btnValue!: string;
}
</script>
