<template>
  <form @submit.prevent="submitForm" class="club-form">
    <h2>{{ instance.id ? 'Update club' : 'Add club' }}</h2>
    <div class="club-form__item-wr">
      <input
        v-if="instance.id"
        class="club-form__input"
        name="id"
        type="hidden"
        :value="clubId"
      >
    </div>

    <div class="club-form__item-wr">
      <input
        placeholder="name"
        type="text"
        class="club-form__input"
        name="name"
        required
        v-model="clubName"
      >
    </div>

    <div class="club-form__item-wr">
      <input
        type="text"
        placeholder="country"
        class="club-form__input"
        name="country"
        required
        v-model="clubCountry"
      >
    </div>

    <Button
      class="club-form__btn"
      :btnValue="btnValue"
    />
  </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import Button from '@/components/common/Button.vue';
import { Club } from '@/abstracts/types/interfaces';

const ClubsStore = namespace('clubs');

@Component({
  components: { Button },
})

export default class ClubForm extends Vue {
  public clubId: number | string = '';

  public clubName = '';

  public clubCountry = '';

  @Prop() readonly instance!: Club ;

  @Prop() btnValue! : '';

  @ClubsStore.Action('updateClub') updateClubAction;

  mounted(): void {
    this.clubName = this.instance.name;
    this.clubCountry = this.instance.country;

    if (this.instance.id) {
      this.clubId = +this.instance.id;
    }
  }

  public async submitForm(): Promise<void> {
    const newInstance: Club = {
      name: this.clubName,
      country: this.clubCountry,
    };

    if (+this.clubId) {
      newInstance.id = +this.clubId as number;
    }

    this.$emit('submitFormHandler', newInstance);
  }
}
</script>

<style scoped lang="scss">
.club-form {
  @include flex-column;
  row-gap: 1rem;

  &__label {
    margin: 1rem auto;
    display: block;
  }

  &__input {
    display: block;
    padding: 1.2rem;
    background: linear-gradient(to right, $white 50%, $dark-cyan 50%);
    background-size: 205% 100%;
    background-position: 99% 0%;
    text-transform: initial;
    border-radius: 4px;
    border-color: transparent;
    transition: all .7s ease;

    &:focus {
      outline: none;
      background-position: 1% 100%;
      color: $cyan;
    }
  }

  &__btn {
    padding: .5rem 1rem;
    border-radius: 1rem;

    &:hover {
      transition: background-color .4s;
      background-color: $white;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
    }
  }
}
</style>
