<template>
  <header class="header">
    <Logo/>
    <Navigation/>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Logo from '@/components/Logo.vue';
import Navigation from '@/components/common/Navigation.vue';

@Component({
  components: { Logo, Navigation },
})

export default class Header extends Vue {
}
</script>

<style scoped lang="scss">
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $silver;
  }
</style>
