<template>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <router-link
          to="/"
          class="nav__link"
        >
          Home
        </router-link>
      </li>
      <li class="nav__item">
        <router-link
          to="/clubs"
          class="nav__link"
        >
          Clubs
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped lang="scss">
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    display: flex;
    height: 4rem;
    margin: .3rem;
    padding: 0 2.2rem;
    line-height: 4.3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: $dark-grey;
    letter-spacing: 1px;

    &:hover {
      background-color: $crimson;
      color: $white;
      box-shadow: .5rem 1rem 3rem rgba(198, 64, 64, .3);
      transition: all ease .2s;
    }
  }
}
</style>
