<template>
  <div id="app">
    <Header />

    <main class="main content">
      <section class="section">
        <router-view />
      </section>
    </main>

    <Footer />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from '@/components/common/Header.vue';
import Footer from '@/components/common/Footer.vue';

@Component({
  components: { Footer, Header },
})

export default class App extends Vue {
}
</script>

<style lang="scss">
#app{
  @include flex-column;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 1.6rem;
}

.main {
  @include flex-column;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
}

.section {
  justify-content: center;
}
</style>
